@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800;1,900&family=Noto+Sans+TC:wght@300;400;500&display=swap');

:root {
  /* colors */
  --clr-dark: 341, 0%, 14%;
  --clr-ligth-dark: 341, 0%, 25%;
  --clr-light: 341, 0%, 31%;
  --clr-white: 0 0% 100%;

  --clr-dark-purple: #160746;
  --clr-dark-blue: #0f0f36;
  --clr-light-purple: #3b3a94;
  --clr-purple: #4E23b9;
  
  
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  
  /* font-families */
  --ff-serif: 'Fira Sans', sans-serif;
  --ff-serif-noto: 'Noto Sans TC', sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-500: 1.25rem;
      --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-500: 1.75rem;
      --fs-400: 1.125rem;
  }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

body {
  background-color: hsl(var(--clr-dark));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

form {
  width: 100%;
  justify-content: center;
}

button[type=submit] {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  transition: all 1s;
  z-index: 4;
  color: white;
  background-color: black; 
}

input[type=submit]:hover {
  cursor: pointer;
}

input[input=submit]::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 5rem;
  height: 5rem;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
  
}

input[input=submit]::after {
  content: "";
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s; 
}

input[type=text] {
  font-size: 1.5rem;
  position: absolute;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: hsl(var(--clr-white) / .5);
  padding: 0 80px 0 20px;
  border-radius: 1rem;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  letter-spacing: 0.1em;
  
  background-color: hsl(var(--clr-dark));
  border: 1.5px solid hsl(var(--clr-white) / .5);
}

input[type=text]:hover {
  cursor: pointer;
}

input[type=text]:focus {
  width: 82%;
  height: 5rem;
  opacity: 1;
  cursor: text;
}

input[type=text]:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

input[type=text]:focus ~ .search::before {
  width: 25px;
}

input[type=text]:focus ~ .search::after {
  justify-content: start;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 50%;
  transform: rotate(-45deg);
}

input[type=text]:focus ~ .search::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.title {
  font-size: var(--fs-700);
  color: white;
}

.profilePic {
  justify-content: center;
}

.profilePic > img{
  border-radius: 50%;
  width: 11rem;
  min-width: 11rem;
  margin-top: 2em;
}

.username,
.bio,
.info,
.socialBox {
  justify-content: center;
  padding: 1rem;
  color: white;
}
.bio {
  
  overflow: hidden;
  margin: auto;
  text-align: center;
  
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.call-to-action {
  border: 2px solid lightgreen;
}

.title {
  justify-content: center;
  padding: 2rem;
  font-family: var(--ff-serif);
}

.username {
  font-family: var(--ff-serif-noto);
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.searchContainer {
  padding: 2rem;
  margin: auto;
}

.infoGrid {
  border: 1px solid hsl(var(--clr-white) / .2);
  border-radius: 1rem;
  width: 95%;
  margin:auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: hsl(var(--clr-ligth-dark));
  opacity: 10;
  
  
}

.info-section {
  width: 100%;   
}

.socialBox {
  border-radius: 1rem;
  background-color: hsl(var(--clr-dark));
  width: 100%;
  justify-content: space-evenly;
}


@media (min-width: 45em) {
  .infoGrid {
    border-radius: 2rem; 
    width: 70%;
    margin:auto;
    grid-template-areas: 
      'img info-section';
  }

  .title {
    font-size: var(--fs-500);
  }

  .profilePic {
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
  }

  .profilePic > img {
    width: 12rem;
    height: 12rem;
  } 
  
  input[type=text]:focus {
    width: 71%;
    height: 5rem;
    opacity: 1;
    cursor: text;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  }
}

@media (min-width: 45em) {
  .searchContainer {
    width: 75%;
    padding: 2rem;
    margin: auto;
  }

  .info-section {
    
    width: 100%;
  }

  form {
    width: 60%;
  }
}





